<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle 
    [value]="" 
    [checked]="checked(-1)"
    [disabled]="'false'" 
    (click)="onClick(undefined)">
    -
  </mat-button-toggle>
  <mat-button-toggle 
    *ngFor="let code of codes|async"
    [value]="code.ShortText"
    [checked]="checked(code.CA)"
    [disabled]="!enabled(code.CA)" 
    (click)="onClick(code)"> 
    {{code.CA}}
  </mat-button-toggle>
</mat-button-toggle-group>
<!-- <div class="label">
  {{getLabel()}}
</div> -->

