<span class='container'>
  <span class='left'>
    Controls Demo
  </span>
  <span class='center'>
    Text question
  </span>
  <span class='space-filler'></span>
  <span class='right'>
    <mat-form-field>
      <input type='text' matInput>
    </mat-form-field>
  </span>
</span>
<!-- <span class='row2' *ngIf="selection">
  <span class='notes'>
    <mat-form-field>
      <input matInput [(ngModel)]="notes">
    </mat-form-field>
  </span>
  <span class='buttons'>
    <button mat-icon-button>
      <i class="material-icons">add_a_photo</i>
    </button>
  </span>
</span> -->