@import '../../toolbar.css';

.sync-page {
    display: flex;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
    max-height: 25vh;
    overflow-y: scroll;
}

mat-form-field {
    display: block;
}

.log-entry {
    margin: 3px;
    padding: 3px;
}
