<div class="work-container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <i [ngClass]="config.iconSize">menu</i>
    </button>
    <button mat-icon-button (click)="onBack()">
      <i [ngClass]="config.iconSize">arrow_back</i>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="work-sidenav-container">
    <mat-sidenav #snav [mode]="'over'">
      <mat-nav-list>
        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-icon-button (click)="onHome()">
              <i [ngClass]="config.iconSize">home</i>
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-icon-button (click)="openAccountDialog()">
              <i [ngClass]="config.iconSize">account_box</i>
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-icon-button (click)="openConfigDialog()">
              <i [ngClass]="config.iconSize">settings</i>
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-icon-button (click)="onInputData()">
              <i [ngClass]="config.iconSize">input</i>
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-icon-button (click)="onOutputData()">
              <i [ngClass]="config.iconSize">sync</i>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <app-work-page></app-work-page> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>