<div class="always-flex">
  <div class="left">
    <button mat-icon-button (click)="onPrevious()">
      <i [ngClass]="config.iconSize">keyboard_arrow_left</i>
    </button>
  </div>
  <div class='space-filler'></div>
  <div class="center">
      {{selectedActivity.Activity.Code}} {{selectedActivity.Activity.Name}}
  </div>
  <div class='space-filler'></div>
  <div class='right'>
    <button mat-icon-button (click)="onNext()">
      <i [ngClass]="config.iconSize">keyboard_arrow_right</i>
    </button>
  </div>
</div>
<mat-progress-bar color='accent' mode="determinate" [value]="index/(activities.length-1)*100"></mat-progress-bar>