/* body {
    margin: 20px;
}

.inspection-wrapper {
    display: grid;
    height: 650px;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 120%;
}

.inspection-map {
    grid-column: 1 ;
    grid-row: 1 / 1;
}

.inspection-summary {
    grid-column: 2;
    grid-row: 1 / 1;
}
  
.inspection {
    grid-column: 1 / span 2;
    grid-row: 2 / span 32;
} */

  